@page {
  size: A4;
  margin: 2cm;
}

html {
  --pst-font-family-base: 'NanumGothic', sans-serif;
  --pst-font-family-heading: 'NanumGothic', sans-serif;
  --pst-font-family-monospace: 'D2Coding', monospace;
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/NanumGothic.woff2') format('woff2'),
       url('fonts/NanumGothic.woff') format('woff'),
       url('fonts/NanumGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/d2coding-full.woff2') format('woff2'),
       url('fonts/d2coding-full.woff') format('woff'),
       url('fonts/d2coding-full.ttf') format('truetype');
}

body {
    font-family: "NanumGothic", sans-serif, "D2Coding", monospace;
    /*font-family: var(--pst-font-family-base-system), var(--pst-font-family-monospace-system);*/
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    font-size: 16px;
}

p {
    line-height: 1.6rem;
    font-size: 0.9rem;
    margin: 0;
}

.rst-content .toctree-wrapper>p.caption, .rst-content h1, .rst-content h2, .rst-content h3, .rst-content h4, .rst-content h5, .rst-content h6 {
    margin: 1rem 0 0.8rem 0;
}

/* 테이블이 용지 너비에 맞도록 자동 조정 */
@media print {
    body {
        font-family: "NanumGothic", sans-serif;
        text-rendering: optimizelegibility;
        font-size: 10pt;
        line-height: 1.6rem;
        max-width: 160em;
    }

    .body pre, .body h1, .body h2, .body h3, .body h4, .body h5, .body h6 {
        text-align: left;
        margin-bottom: 0.5rem;
    }

    div.highlight pre {
        font-family: "D2Coding", monospace;
        font-size: 0.8rem;
        line-height: 1.12rem;
        word-break: break-word;
        text-align: left;
    }

    table.docutils {
        max-width: 100%;
        width: auto;
        word-break: break-word;
    }

    table.docutils td, table.docutils th {
    	padding: .4rem;
    }

    div..admonition {
    	padding: 0.8rem;
    	line-height: 1.2rem;
	margin-bottom: 1.2rem;
    }
}

.wy-nav-content {
    max-width: 100vw !important;
    padding: 0px !important;
}

.wy-table-responsive {
  margin-bottom: 24px;
  width: auto;
  max-width: calc(100vw - 400px);
  overflow: auto;
}

@media (max-width: 600px) {
  .wy-table-responsive {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
    .wy-nav-top {
        display: flex !important;
	justify-content: left;
    }
    .fa-bars {
	margin-right: 1rem;
    }
    .wy-nav-top a {
	font-size: larger;
	line-height: 2.6rem;
    }
}

.rst-content [id] {
  scroll-margin-top: 4rem; /* 고정 헤더 높이 만큼 상단 여백 확보 */
}

.rst-content div[role="main"] {
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

table.docutils {
    width: auto;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-spacing: 0;
}

.rst-content div[role="navigation"][aria-label="Page navigation"] {
    /*background-color: var(--pst-color-on-background) !important;*/
    box-shadow: 0 0 .15rem 0 rgba(0,0,0,2);
    background-color: #ffffff;
    max-width: 100vw;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1030;
    line-height: 50px;
    /*color: #efefef;*/
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.rst-content div[role="navigation"][aria-label="Footer"] {
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.rst-content div[role="contentinfo"] {
  padding: 2rem;
}

.version-switcher select {
  /*padding: 3px 10px;
  font-size: 14px;
  color: #efefef;
  /*background-color: #f8f8f8;
  background-color: #2980b9;;
  border-radius: 14px;
  box-shadow: 0 0 0.3rem 0 #16669d;
  transition: border-color 0.2s ease-in-out;*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 12px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),
              0 1px 2px rgba(0, 0, 0, 0.05);
  transition: border-color 0.2s, box-shadow 0.2s;
  color: #333;
}

.version-switcher select:hover {
  border-color: #409EFF;
  cursor: pointer;
  background-color: #ffffff;
}

.version-switcher select:focus {
  outline: none;
  border-color: #0077cc;
}

.version-switcher select option {
  color: #000000;
}

