urllib3<2.0
Sphinx==8.1.3
pydata-sphinx-theme==0.16.1
sphinx_design
sphinx_copybutton
myst_parser
sphinxcontrib-plantuml
sphinxext-rediraffe
nbsphinx
numpydoc
sphinx_togglebutton
sphinx_favicon
sphinx_sitemap
weasyprint==64.1
sphinx-simplepdf==1.6
sphinx-rtd-theme
sphinx-autobuild
