{% extends "!layout.html" %}
{% block rootrellink %}
    <li><a href="http://www.cubrid.org/?act=IS&search_target=title_content&is_keyword=test&mid=home_page&site=cubridorg&page=1&language=english">Site Search</a> &raquo;</li>
    {{ super() }}
{% endblock %}
{%- block extrahead %} 
    <!-- naver analytics begin-->
    
    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "195d9567225f24";
    wcs_do();
    </script>

    <!-- naver analytics end-->
{% endblock %}